:root {
    --primary: #FFCCBC;
    --orange: #F4511E;
    --green-dark: #43A047;
    --green-dark-2: #66BB6A;
    --green-light: #81C784;
    --yellow-dark: #F9A825;
    --yellow-light: #FFEE58;
    --grey-light: #E0E0E0;
    --grey-dark-4: #212121;
    --deep-orange: #FF6E40;
    --trans: all .3s;
    --bg-white: #fff;
    --bg-gray-dark: #e5e5e5;
    --bg-gray: #f5f5f7;
    --red-cl: #ee6955;
    --text-black: #3b3a40;
    --text-hover: #a2a1ab;
    --text-op: #cac4e5;
    --text-orange: #ff721f;
    --bg-color: #eeedf2;
    --pink: #fff3f1;
    --pink-2: #fbf3f7;
    --pink-momo: #d82d8b;
    --purple-text: #3a2c93;
    --bg-purple: #7266ba;
    --box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, .1);
    --trans: all 0.3s;
    --red-2: #de221f;
}

* {
    font-family: 'Quicksand';
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

ol,
ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.app-input {
    border: solid 1px #F5F8FA;
    padding: 12px 20px;
    outline: none;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: var(--grey-dark-4);
    background-color: #F5F8FA;
    border-radius: 6px;
    width: 100%;
}

.v-container {
    padding: 12px;
    margin: 12px auto;
}

.v-btn {
    text-transform: capitalize;
}

.v-btn:hover>.v-btn__overlay {
    opacity: 0.7 !important;
    background-color: transparent !important;
}

.v-slide-group__prev,
.v-slide-group__next {
    display: none !important;
}